h1 {
  font-size: 25px;
  color: #00008B
}

a {
  color: #00008B
}

a {
  text-align: end;
  position: relative;
  bottom: 50px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.relative__img {
  position: relative;
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
  z-index: 2;
}

.absolute-text {
  position: absolute;
  bottom: 85px;
  font-size: 50px;
}

.absolute {
  position: absolute;
  bottom: -50px;
  z-index: 1;
}

.blue-box {
  width: 1200px;
  height: 200px;
  background-color: blue;
}